body {
    font-family: 'Poppins', sans-serif;
}

.gradient-custom-2 {
    position: relative;
    background: url("../assets/login_image.png") no-repeat center center;
    background-size: cover;
}

.gradient-custom-2::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Adjust the opacity as needed */
    z-index: 1;
}

.gradient-custom-2 .content {
    position: relative;
    z-index: 2;
}

@media (min-width: 768px) {
    .gradient-form {
        height: 100vh !important;
    }
}

@media (min-width: 769px) {
    .gradient-custom-2 {
        border-top-right-radius: .3rem;
        border-bottom-right-radius: .3rem;
    }
}

/* Custom button color */
.btn-custom {
    background-color: #347BA7;
    color: white;
}

.btn-custom:hover {
    background-color: #2c6a8e;
    color: white;
}

.icon-custom-color {
    color: #347BA7;
}

/* Custom button styles for Create Announcement */
.btn-create-announcement {
    background-color: #347BA7;
    color: white;
    border: none;
}

.btn-create-announcement:hover {
    background-color: #2c6a8e;
    color: white;
}

/* Custom button styles for View Priest Profiles */
.btn-view-priest-profiles {
    background-color: #347BA7;
    color: white;
    border: none;
}

.btn-view-priest-profiles:hover {
    background-color: #2c6a8e;
    color: white;
}

.dashboard{
    background-color: red;
}
