{% extends 'index.html' %}
{% block title %} User Log-in Page {% endblock %}

{% block form %} 
  <form action='/users/login' method='POST'>
    {% csrf_token %}
      <div class="form-outline mb-4">
        <label class="form-label" for="username">Username</label>
        <input type="text" id="username" name='username' class="form-control" placeholder="Username" required/>
      </div>
    
      <div class="form-outline mb-4">
        <label class="form-label" for="password">Password</label>
        <input type="password" id="password" name='password' class="form-control" required/>
      </div>
    
      <div class="form-check mb-4">
        <input class="form-check-input" type="checkbox" id="showPasswordCheck" onclick="togglePassword()">
        <label class="form-check-label" for="showPasswordCheck">Show Password</label>
      </div>
    
      <div class="text-center pt-1 mb-3 pb-1">
        <button class="btn btn-custom btn-block fa-lg mb-2" type="submit">Log in</button>
      </div>

  </form>
{% endblock %}
<!-- 
<div class="text-center">
        <a class="text-muted" href="{% url 'users:forgot' %}">Forgot password?</a>
      </div>
    -->