{% extends "dashboard.html" %}
{% block content %}
<div class="container mt-4">
    <form method="POST">
        {% csrf_token %}

        <label for="email_level">Email Level:</label>
        <select name="email_level" id="email_level">
            {% for level in email_levels %}
                <option value="{{ level.level_id }}">{{ level.level_desc }}</option>
            {% endfor %}
        </select>

        <label for="email_type">Email Type:</label>
        <select name="email_type" id="email_type">
            {% for type in email_types %}
                <option value="{{ type.type_id }}">{{ type.type_desc }}</option>
            {% endfor %}
        </select>

        <div>
            <label for='emailSubject'>Subject:</label>
            <input style='width: 500px;' type='text' id='emailSubject' name='emailSubject' placeholder='Subject' required/>
        </div>

        <div>
            <label for="emailContent">Content:</label>
            <input id="emailContent" type="hidden" name="emailContent">
            <trix-editor input="emailContent" style="width: 600px; height: 500px"></trix-editor>
        </div>

        <div  class='text-center mt-3'>
            <button type="submit" class="btn btn-view-priest-profiles">Save</button>
        </div>
    </form>
</div>
<div class="container mt-4">
    <div>
        <label>Select Recipients:</label>
        <div class="mb-3" style="max-height: 200px; overflow-y: auto; border: 1px solid #ccc; padding: 10px;">
            {% for user in users %}
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" name="recipients" value="{{ user.contact_number }}" id="user{{ user.id }}">
                    <label class="form-check-label" for="user{{ user.id }}">
                        {{ user.full_name }} - {{ user.contact_number }}
                    </label>
                </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock content %}